.gallery {
  padding-top: 120px;
  &__heading {
    font-size: $fontXL;
    color: $white;
  }
  &__description {
    color: white;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  &__img-container {
    position: relative;
    overflow: hidden;
  }
  &__img {
    transition: transform 0.3s ease-in-out;
  }
  &__img:hover {
    transform: scale(1.08);
  }
}

@include max(md) {
  .gallery__img {
    width: 100%;
    border-radius: 5px;
  }
}
