.gallery {
  padding-top: 120px;
  &__heading {
    font-size: $fontXL;
    color: $white;
  }
  &__body {
    text-align: center;
  }
  &__description {
    color: white;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  &__img-container {
    position: relative;
    overflow: hidden;
  }
  &__img {
    transition: transform 0.3s ease-in-out;
  }
  &__img:hover {
    transform: scale(1.04);
  }
  &__img-heading {
    text-decoration: underline;
  }
  &__front-img {
    display: flex;
    justify-content: center;
  }
  &__car-features {
    margin-top: 24px;
    padding-left: 20px;
    color: white; 
  }
  &__car-features li {
    margin-bottom: 5px;
    font-size: 15px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
    gap: 10px;
    margin-top: 24px;
  }

  &__grid-item {
    display: flex;
    justify-content: center;
  }

  &__card {
    max-width: 184px;
    width: 100%;
  }
}

@include max(md) {
  .gallery__img, .gallery__main-image {
    width: 100%;
    border-radius: 5px;
  }
  .gallery__grid {
    color: red;
  }
}
