@import 'src/styles/colors.scss';

.burger-menu {
    padding: 5px;
    border-radius: 4px;
    margin: 4px;
    &:hover {
        opacity: 1;
    }
    &__icon {
        width: 20px;
        height: 17px;
        position: relative;
        cursor: pointer;
        &-bar {
            position: absolute;
            height: 3px;
            width: 100%;
            background: $white;
            left: 0;
            transition: all 0.2s ease-in-out;
            &:first-child {
                top: 0px;
                transform-origin: left center;
            }

            &:nth-child(2) {
                top: 6px;
                transform-origin: left center;
            }

            &:last-child {
                top: 12px;
                transform-origin: left center;
            }
        }
    }
    &--cross {
        .burger-menu__icon {
            &-bar {
                &:first-child {
                    transform: rotate(45deg);
                    top: 0px;
                    left: 0px;
                }
                &:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                    top: 11px;
                    left: 0px;
                }
            }
        }
    }
}
