.layout-width {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba($black, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray;
  }
  &:focus-visible {
    outline-style: dashed;
    outline-offset: size(0.5);
  }
  transition: box-shadow 0.2s ease-in-out;
}
body {
  background-color: black;
}
.filled-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  transition: border-top 0.2s ease-in-out, border-bottom 0.2s ease-in-out,
    border-right 0.2s ease-in-out, border-left 0.2s ease-in-out;
  &.left {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba($black, 0.8);
  }
  &.right {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba($black, 0.8);
  }

  &.up {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba($black, 0.8);
  }
  &.down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $outerSpace;
  }
}
.arrow {
  margin: 0px 2px 9px 0px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  transition: transform 0.2s;

  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

h1,
h2 {
  letter-spacing: 1px;
}

h3 {
  letter-spacing: 0.7px;
}

a {
  text-decoration: none;
}
//TEXTS STYLES
.required-text {
  color: #dc4c64;
  font-size: 14px;
  font-weight: 500;
}

input:not([type='checkbox']) {
  height: size(10);
  border-radius: $spacing * 2.5;
  border: 0.3px solid $gray;
  padding: $spacing * 2 $spacing * 3;
  font-size: $fontXXS;
  resize: none;
  outline: none !important;
  width: 100%;
  margin-top: size(1);
}
textarea {
  border-radius: $spacing * 2.5;
  border: 0.3px solid $gray;
  padding: $spacing * 2 $spacing * 3;
  font-size: $fontXXS;
  resize: none;
  outline: none !important;
  width: 100%;
  margin-top: size(3);
}
::-webkit-input-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
:-moz-placeholder {
  color: rgb(58, 58, 58) !important;
  opacity: 1;
}
input[type='checkbox']:checked:after {
  height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

label {
  font-size: $fontXXS;
  font-weight: 500;
}

.border-bottom {
  border-bottom: 1px solid #313131;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button-reset {
  background-color: transparent;
  color: white;
  border: none;
}

button {
  @extend .button-reset;
  cursor: pointer;
  &:disabled {
    cursor: auto;
  }
}

//FLEX CLASSES
.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  gap: size(3);
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-start {
  align-items: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.word-break {
  word-break: break-word;
}
.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  @include max(xs) {
    flex-direction: column;
    & > * {
      width: 100% !important;
    }
  }
}
.w-full {
  width: 100%;
}

.Toastify {
  z-index: 100000 !important;
  position: absolute;
}
.Toastify__close-button--light {
  color: $black !important;
  opacity: 1 !important;
  margin-top: size(2);
  margin-right: size(1);
}

.Toastify__close-button > svg {
  height: size(5) !important;
  width: size(4) !important;
}
.reset-link {
  text-decoration: underline;
  color: $blue;
}
.lowercase {
  text-transform: lowercase;
}
.nowrap {
  white-space: nowrap;
}
.Toastify__close-button--light {
  color: $black !important;
  opacity: 1 !important;
  margin-top: size(2);
  margin-right: size(1);
}

.Toastify__close-button > svg {
  height: size(5) !important;
  width: size(4) !important;
}
