.language-dropdown {
    z-index: $topIndex;
    -webkit-tap-highlight-color: transparent;
    
    &__head {
        display: flex;
        align-items: center;
        gap: size(1.5);
        text-transform: capitalize;
        color: black;
        font-weight: bold;
        font-size: 14px;
        
    }
    &__menu {
        display: flex;
        flex-direction: column;
        background-color: $white !important;
        
    }
    &__item {
        display: flex;
        gap: size(3);
        align-items: center;
        cursor: pointer;
        padding: size(3) size(5) !important;
        &:hover
        {
            background-color: #c51a2027 !important;
            
    }
    }
    .flag-img {
        border-radius: size(1);
        width: size(6);
    }
    .dropdown__menu {
        width: size(40);
        border-radius: 8px;
        box-shadow: 0px 3px 6px #00000029;
        border-color: $white !important;

    }
}

