.error-page {
    background-color: #000710;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    letter-spacing: 1px;
    padding: 20px;

    h3,
    p {
        letter-spacing: 1px;
        max-width: 500px;
        text-align: center;
        color: white;
    }
    p {
        margin-bottom: 10px;
    }
    h3 {
        letter-spacing: 2px;
    }
    img {
        max-width: 100%;
    }
    @include max(md) {
        min-height: calc(100vh - 48px);
    }
    &__oops {
        color: white;
        font-size: 100px;
        text-transform: uppercase;
        letter-spacing: 14px;
    }
}
