.line-break {
    margin-block: size(10);
    & .or-divider {
        display: flex;
        align-items: center;
    }

    & .or-divider hr {
        flex: 1;
        border: none;
        border-top: 1px solid $gray;
        margin: 0 10px;
    }

    & .or-text {
        color: $gray;
        font-weight: bold;
        font-size: $fontXS;
    }
}
