.table-content {
    background-color: white;
    border-radius: size(3);
    &__title {
        color: $mineShaft;
    }
    &__underline {
        border-bottom: 1px solid #313131;
    }
    &__title-container {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: size(3);
        padding: size(2);
        @include max(sm) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
}
