.table {
    width: 100%;
    color: $mineShaft;
    border-collapse: collapse;
    // overflow-x: auto;
    &__table-thead {
        color: $vermilion;
        font-size: 14px;
        font-size: $fontXXS;
        border-top: 1px solid var(--grey, rgba(0, 0, 0, 0.3));
        border-bottom: 1px solid var(--grey, rgba(0, 0, 0, 0.3));
        font-family: 'Poppins', sans-serif !important;
        text-align: center;
        font-weight: lighter;
    }
    // th:first-child {
    //     border-top-left-radius: 10px;
    //     border-bottom-left-radius: 10px;
    // }
    // th:last-child {
    //     border-top-right-radius: 10px;
    //     border-bottom-right-radius: 10px;
    // }
    &__table-row {
        font-size: $fontXXS;
        border-bottom: 1px solid var(--grey, rgba(0, 0, 0, 0.3));
    }
    &__td {
        vertical-align: middle;
        padding: 16px;
        // & .trend {
        //     width: size(20);
        // }
    }
    &__center {
        text-align: center;
    }
    &__th {
        padding: 16px;
        font-weight: bold;
    }
    & .post-actions {
        border: none;
        column-gap: 26px;
    }
    & .post-actions button:not(:last-child) {
        border: none;
    }
    &__no-data {
        color: #3c5071;
        // font-weight: 500;
        font-size: $fontSmall;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
    &__row-hover {
        &:hover {
            background-color: rgba(246, 59, 0, 0.1);
        }
    }
    &__info-data{
        
    }
}
