.form-wrap-table {
    thead th:first-child {
        width: 5%;
    }
    // td:nth-child(2),
    // th:nth-child(2) {
    //     text-align: left;
    // }
    tbody tr:first-child {
        background-color: #f2f2f2;
        input {
            border-radius: unset;
            width: unset;
            margin: unset;
        }
        td {
            padding-block: 6px;
        }
    }
    & .tick-green {
        svg {
            fill: green;
        }
    }
}
