.dropdown {
    cursor: pointer;
    position: relative;
    &__head {
        width: 100%;
        border: none;
        padding: 0;
    }

    &__menu {
        transition: opacity 0.2s ease-in-out, max-height 0.3s ease-in-out, visibility 0.2s ease-in-out,
            padding 0.3s ease-in-out, border 0.3s ease-in-out;
        position: absolute;
        overflow: hidden;
        z-index: $mediumIndex;
        background-color: $white;
        & > div {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            box-shadow: 0px 3px 6px #00000029;
            button,
            a {
                width: 100%;
                text-align: left;
                cursor: pointer;
                user-select: none;
                font-size: $fontXXS;
                &:not(:last-child) {
                    border-bottom: $borderBottomOuterSpace;
                }
                &:hover {
                    background-color: #000710;
                }
            }
        }
        button {
            @extend .button-reset;
        }
    }

    &.fade .dropdown__menu {
        opacity: 0;
        visibility: hidden;
    }
    &.collapse .dropdown__menu {
        max-height: 0;
    }
    &.open {
        ::-webkit-scrollbar-thumb {
            background-color: $outerSpace;
        }
        .filled-arrow {
            border-bottom: 5px solid $white;
            border-top: none !important;
        }
        &.fade .dropdown__menu {
            opacity: 1;
            visibility: visible;
        }
        &.collapse .dropdown__menu {
            max-height: 200px;
            overflow: auto;
            background-color: white;
            border: 1px solid #c4c4c4;
            color: black;
        }
    }
    &.lang > &__head > .form-field .filled-arrow.down {
        border-top: 5px solid $white;
    }
    &.lang .dropdown__menu.open {
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
    }
    &.lang .dropdown__menu {
        min-width: 60px;
    }
    &.select .dropdown__menu {
        width: 100%;
        button {
            padding: size(1) size(2);
            color: $black;
        }
    }
    &.default .dropdown {
        &__head {
            border: none;
            color: $black;
            .placeholder span {
                color: rgb(58, 58, 58) !important;
                font-weight: normal;
            }
            .form-field {
                border-bottom: 1px solid $gray;
                padding: size(2) size(3);
                padding-bottom: 8px;
                border-radius: size(1.5);
                span {
                    color: $black;
                }
            }
        }
    }

    &.default .dropdown__menu {
        background-color: white;
        &.open {
            border: 1px solid #c4c4c4;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        button,
        a {
            padding: size(1) size(2);
            color: $mineShaft;
            width: 100%;
            text-align: left;
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: unset;
            span {
                margin: 0 auto;
            }
            &:not(:last-child) {
                border-bottom: 1px solid #c4c4c4;
            }
            &:hover {
                background-color: $hoverColor;
            }
        }
    }
    &.default {
        &.open {
            ::-webkit-scrollbar-thumb {
                background-color: $white;
            }
            .filled-arrow.down {
                border-top: none;
                border-bottom: 5px solid $black;
            }
        }
    }
}
