.phone-input {
    display: flex;
    position: relative;
    flex-direction: column;
    &__container {
        .form-control {
            height: 44px;
            width: 100%;
            border-radius: $spacing * 2.5;
            border: 0.3px solid $gray;
            &:focus {
                border-color: $black;
            }
        }
    }
    &--error {
        .form-control {
            border-color: $red;
            // @extend .error;
        }
        .phone-input__label {
            // @extend .error;
        }
    }
}
